<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello Page1</h1>
<input type="button" id="btn" value="Показать то, что отдал JSON">

<div id="root" style="display: flex;">


</div>

<script>
    let root = document.querySelector('#root')
    let btn = document.querySelector('#btn')
    console.log(root)
        btn.addEventListener('click',fn)

    function fn() {
        fetch('http://127.0.0.1:8000/ajax/')
            .then(response => response.json())
            .then(data => {
                console.log(data.arr_object)
                root.innerHTML=`<div><p>${data.arr_object[0].id}</p>
                                     <p>${data.arr_object[0].name}</p>
                                </div>

                                <div><p>${data.arr_object[1].id}</p>
                                     <p>${data.arr_object[1].name}</p>
                                </div>`
            })
    }


</script>
</body>
</html>